@model WebApplicationPods.ViewModels.LojistaEditViewModel

@{
    ViewData["Title"] = "Editar lojista";
}

<h2 class="mb-3">Editar lojista</h2>

<form asp-area="Admin"
      asp-controller="Lojistas"
      asp-action="Edit"
      method="post">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CPF" class="form-label"></label>
        <input asp-for="CPF" class="form-control" />
        <span asp-validation-for="CPF" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-area="Admin"
       asp-controller="Lojistas"
       asp-action="Index"
       class="btn btn-link">
        Voltar
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
