@{
    ViewData["Title"] = "Senha redefinida";
}
<div class="alert alert-success mt-4">
    <p>Sua senha foi redefinida com sucesso. <a asp-controller="Conta" asp-action="Login">Entrar</a></p>
</div>
